# CODEOWNERS file

# Directories
/lib/ @Ashwin-DevAsh @PranavSTuring @olaoluwa-turing @abubakarTuring @mohit-bairagi-turing @antny-turing @mayanksethi-turing @iamarpit-turing
/test/ @Ashwin-DevAsh @PranavSTuring @olaoluwa-turing @abubakarTuring @mohit-bairagi-turing @antny-turing @mayanksethi-turing @iamarpit-turing
/bin/ @Ashwin-DevAsh @PranavSTuring @olaoluwa-turing @abubakarTuring @mohit-bairagi-turing @antny-turing @mayanksethi-turing @iamarpit-turing

# Package files using patterns
Pipfile* @Ashwin-DevAsh @PranavSTuring @olaoluwa-turing @abubakarTuring @mohit-bairagi-turing @antny-turing @mayanksethi-turing @iamarpit-turing
package*.json @Ashwin-DevAsh @PranavSTuring @olaoluwa-turing @abubakarTuring @mohit-bairagi-turing @antny-turing @mayanksethi-turing @iamarpit-turing

# Global ownership
* @hernanmog-turing @deavyanshturing
