# CODEOWNERS file
# This file defines who owns and can approve changes to different parts of the repository

# Exception paths: These can be approved by the listed team members
/lib/ /test/ /bin/ /Pipfile /Pipfile.lock /package.json /package-lock.json @Ashwin-DevAsh @PranavSTuring @olaoluwa-turing @abubakarTuring @mohit-bairagi-turing @antny-turing @mayanksethi-turing @iamarpit-turing

# Global ownership: Everything else requires approval from @hernanmog-turing and @deavyanshturing
* @hernanmog-turing @deavyanshturing
