[MESSAGES CONTROL]
disable=
    too-many-positional-arguments,
    import-error,
    duplicate-code,
    too-many-instance-attributes,
    too-few-public-methods,
    unused-argument,
    wrong-import-order,
    unused-import

[FORMAT]
max-line-length=120

[DESIGN]
max-args=10
