[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
cfn-lint = "*"
cfn-flip = "*"

[dev-packages]
boto3 = "*"
moto = {extras = ["config", "sns", "lambda", "s3", "events", "ssm", "logs", "iam"], version = "*"}
pytest = "*"
pytest-cov = "*"
pytest-env = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.12"

[scripts]
# Validation
lint = "cfn-lint lib/template.json"
validate = "aws cloudformation validate-template --template-body file://lib/template.json --region us-east-1"

# Testing
test-unit = "python -m pytest -s tests/unit/ --cov=lib --cov-report=term-missing --cov-report=json:coverage/coverage.json --cov-report=xml:coverage/coverage.xml --cov-fail-under=100 --cov-branch -vv"
test-integration = "python -m pytest -s tests/integration/ --no-cov -vv"
test-all = "python -m pytest -s tests/ --cov=lib --cov-report=term-missing --cov-report=json:coverage/coverage.json --cov-report=xml:coverage/coverage.xml --cov-fail-under=100 --cov-branch -vv"

# Deployment
deploy = "bash .github/scripts/deploy.sh"
destroy = "bash .github/scripts/destroy.sh"
