[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cdktf = "~=0.21.0"
cdktf-cdktf-provider-aws = "~=19.0"
constructs = "~=10.4.0"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
boto3 = "*"

[requires]
python_version = "3.12"
