[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cfn-lint = "*"
cfn-flip = "*"
aws-cdk-lib = "2.202.0"
constructs = ">=10.0.0,<11.0.0"
cdktf = "0.21.0"
cdktf-cdktf-provider-aws = "21.3.0"
pulumi_random = "*"
pulumi = "==3.109.0" 
pulumi-aws = ">=6.0.0,<7.0.0"
pytest-cov = "*"

[dev-packages]
boto3 = "*"
moto = "*"
pytest-testdox = "*"
pytest-env = "*"
pylint = "*"
pytest = "*"
requests = "*"

[requires]
python_version = "3.12.11"

[scripts]
# Validation
cfn-validate-yaml = "cfn-lint lib/TapStack.yml"
cfn-validate-json = "cfn-lint lib/TapStack.json"
cfn-flip-to-json = "cfn-flip  lib/TapStack.yml"
cfn-flip-to-yaml = "cfn-flip -y lib/TapStack.json"
test-py-unit = "python -m pytest -s tests/unit/ --cov=lib/ --cov-report=term-missing --cov-report=json:cov.json --cov-fail-under=20 --cov-branch -l --testdox"
test-py-integration = "python -m pytest -s tests/integration/ --no-cov"
pulumi-login = "pulumi login \"$PULUMI_BACKEND_URL\""
pulumi-create-stack = "pulumi stack select \"${PULUMI_ORG}/TapStack/TapStack${ENVIRONMENT_SUFFIX}\" --create"
pulumi-deploy = "pulumi up --yes --refresh --stack \"${PULUMI_ORG}/TapStack/TapStack${ENVIRONMENT_SUFFIX}\""
pulumi-destroy = "pulumi destroy --yes --refresh --stack \"${PULUMI_ORG}/TapStack/TapStack${ENVIRONMENT_SUFFIX}\""
pulumi-remove-stack = "pulumi stack rm \"${PULUMI_ORG}/TapStack/TapStack${ENVIRONMENT_SUFFIX}\" --yes --force"
lint = "pylint lib tests"