-i https://pypi.org/simple
annotated-types==0.7.0; python_version >= '3.8'
arpeggio==2.0.3
attrs==25.4.0; python_version >= '3.9'
aws-cdk-aws-lambda-python-alpha==2.222.0a0; python_version ~= '3.9'
aws-cdk-lib==2.222.0; python_version ~= '3.9'
aws-cdk.asset-awscli-v1==2.2.242; python_version ~= '3.9'
aws-cdk.asset-node-proxy-agent-v6==2.1.0; python_version ~= '3.8'
aws-cdk.cloud-assembly-schema==48.17.0; python_version ~= '3.9'
aws-lambda-powertools==3.22.0; python_version >= '3.9' and python_full_version < '4.0.0'
aws-sam-translator==1.101.0; python_version >= '3.8' and python_version != '4.0' and python_version <= '4.0'
aws-xray-sdk==2.15.0; python_version >= '3.7'
boto3==1.40.66; python_version >= '3.9'
botocore==1.40.66; python_version >= '3.9'
cattrs==25.3.0; python_version >= '3.9'
cdktf==0.21.0; python_version ~= '3.9'
cdktf-cdktf-provider-aws==21.9.1; python_version ~= '3.9'
certifi==2025.10.5; python_version >= '3.7'
cffi==2.0.0; python_version >= '3.9'
cfn-flip==1.3.0
cfn-lint==1.40.4; python_version >= '3.9'
charset-normalizer==3.4.4; python_version >= '3.7'
click==8.3.0; python_version >= '3.10'
constructs==10.4.2; python_version ~= '3.8'
cryptography==46.0.3; python_version >= '3.8' and python_full_version not in '3.9.0, 3.9.1'
debugpy==1.8.17; python_version >= '3.8'
dill==0.4.0; python_version >= '3.8'
docker==7.1.0; python_version >= '3.8'
grpcio==1.76.0; python_version >= '3.9'
idna==3.11; python_version >= '3.8'
importlib-resources==6.5.2; python_version >= '3.9'
jinja2==3.1.6; python_version >= '3.7'
jmespath==1.0.1; python_version >= '3.7'
jsii==1.118.0; python_version ~= '3.9'
jsonpatch==1.33; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
jsonpointer==3.0.0; python_version >= '3.7'
jsonschema==4.25.1; python_version >= '3.9'
jsonschema-specifications==2025.9.1; python_version >= '3.9'
markupsafe==3.0.3; python_version >= '3.9'
moto[cloudwatch,dynamodb,lambda,sns,sqs]==5.1.16; python_version >= '3.9'
mpmath==1.3.0
networkx==3.5; python_version >= '3.11'
parver==0.5; python_version >= '3.8'
pip==25.3; python_version >= '3.9'
protobuf==5.29.5; python_version >= '3.8'
publication==0.0.3
pulumi==3.205.0; python_version >= '3.10'
pulumi-aws==7.10.0; python_version >= '3.9'
pulumi-random==4.18.4; python_version >= '3.9'
py-partiql-parser==0.6.3
pycparser==2.23; python_version >= '3.8'
pydantic==2.12.3; python_version >= '3.9'
pydantic-core==2.41.4; python_version >= '3.9'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
pyyaml==6.0.3; python_version >= '3.8'
referencing==0.37.0; python_version >= '3.10'
regex==2025.11.3; python_version >= '3.9'
requests==2.32.5; python_version >= '3.9'
responses==0.25.8; python_version >= '3.8'
rpds-py==0.28.0; python_version >= '3.10'
s3transfer==0.14.0; python_version >= '3.9'
semver==3.0.4; python_version >= '3.7'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
sympy==1.14.0; python_version >= '3.9'
tabulate==0.9.0; python_version >= '3.7'
typeguard==2.13.3; python_full_version >= '3.5.3'
typing-extensions==4.15.0; python_version >= '3.9'
typing-inspection==0.4.2; python_version >= '3.9'
urllib3==2.5.0; python_version >= '3.9'
werkzeug==3.1.3; python_version >= '3.9'
wrapt==2.0.0; python_version >= '3.8'
xmltodict==1.0.2; python_version >= '3.9'
