[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-cdk-lib = "*"
constructs = "*"
boto3 = "*"
aws-cdk = "*"

[dev-packages]
boto3 = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
black = "*"
requests = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.13"

[scripts]
lint = "pylint lib tests"
test-py-unit = "python -m pytest -s tests/unit/ --cov=lib/ --cov-report=term-missing --cov-report=json:cov.json --cov-fail-under=90 --cov-branch -l"
test-py-integration = "python -m pytest -s tests/integration/ --no-cov"
